<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <%- messages('messages', locals) %>
       
        <hr>
        <h1 class="jumbotron ">List of users</h1>
        <hr>
        <div>
            <div id="userList">
            </div>
        </div>
        <br>
        <div>
            <input type="button" class ="btn btn-primary " id="previous" onclick="previousPage()" value="previous" />
            <input type="button" class ="btn btn-primary " id="next" onclick="nextPage()" value="next" />
        </div>
    
        <br>
    </div>
</body>
</html>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="main.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>